<a href="https://colab.research.google.com/github/JihyoGwon/PythonforDataAnalysis/blob/master/DataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 타입

*   List: [ ]
*   Tuple: ( )
*   Dictionary: { }
*   Set: { }

# 리스트

*   [. ] 또는 list() 로 표현
*   추가: 불가능
*   삭제: 불가능
*   수정: 불가능
*   읽기: 불가능

In [ ]:
location = ['서울', '경기', '부산']

### 1. 리스트에 값 추가

In [ ]:
location.append('인천')
print(location)

['서울', '경기', '부산', '인천']

In [ ]:
location.insert(1, '광주')

In [ ]:
print(location)

['서울', '광주', '경기', '부산', '인천']

### 2. 위치로 값 찾기

In [ ]:
location[0]

'서울'

In [ ]:
location[-1]

'인천'

In [ ]:
location[1:2]
# location[a:b] a포함 b미포함

['광주']

### 3. 값 삭제하기

In [ ]:
del location[0]
location

['광주', '경기', '부산', '인천']

In [ ]:
location.remove('광주')
location

['경기', '부산', '인천']

### 4. 데이터 치환

In [ ]:
location[0] = '서울'
location

['서울', '부산', '인천']

### 5. 정렬

In [ ]:
numbers = [4,1,93,-5]

In [ ]:
numbers.sort()
print(numbers)

[-5, 1, 4, 93]

In [ ]:
numbers.reverse()
print(numbers)

[93, 4, 1, -5]

### Exercise



*   철수의 주민등록번호에서 생년월일을 출력하세요.  
    991001-1234567

In [ ]:
regNum = '991001-1234567'

In [ ]:
regNum_split = regNum.split("-")
print(regNum_split)

['991001', '1234567']

In [ ]:
regNum_split[0]

'991001'

*   철수의 성별을 출력하세요.

In [ ]:
if int(regNum_split[0]) % 2 == 0:
  print('여자')
else:
  print('남자')

남자

# 튜플



*   선언+입력: (a, b, c, d)
*   추가: 불가능
*   삭제: 불가능
*   수정: 불가능
*   읽기: 불가능

In [ ]:
data = (1, 2, 3)
type(data)

tuple

In [ ]:
print(data[0])

1

In [ ]:
data2 = (2,4,6,8)
data+data2

(1, 2, 3, 2, 4, 6, 8)

In [ ]:
data*2

(1, 2, 3, 1, 2, 3)

### 리스트 타입으로 바꾸기

In [ ]:
list(data)

[1, 2, 3]

In [ ]:
tuple(list(data))

(1, 2, 3)

# 딕셔너리

### 1. 선언

In [1]:
a = dict(name = '홍길동', email = 'hong@test.com', age=25)
a

{'name': '홍길동', 'email': 'hong@test.com', 'age': 25}

In [2]:
b = dict([('name', '홍길동'), ('email', 'hong@test.com'), ('age', 25)])
b

{'name': '홍길동', 'email': 'hong@test.com', 'age': 25}

### 2. 데이터 추가/업데이트/삭제

In [3]:
user = {}
user['name'] = '홍길동'
user['email'] = 'hong@test.com'
user['age'] = 25
user

{'name': '홍길동', 'email': 'hong@test.com', 'age': 25}

In [5]:
user['age'] = 30
user

{'name': '홍길동', 'email': 'hong@test.com', 'age': 30}

In [6]:
del user['email']
user

{'name': '홍길동', 'age': 30}

### 3. 데이터 접근

In [4]:
user['name']

'홍길동'

### 4. 사전 순회

In [8]:
for key, value in user.items():
  print(f"{key}: {value}")

name: 홍길동
age: 30

# 기타
[[Python] 튜플(tuple), 리스트(list), 셋(set), 딕셔너리(dict) 비교](https://specialscene.tistory.com/142)